<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <title> Formulário de feedback </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/feedback.css')}}">
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <h1> Avalie nosso projeto!</h1> 
            <p>Sua opinião é muito importante para nós. <br>Avalie nossa plataforma e compartilhe sua experiência conosco. </p>

            <!-- Exibição da mensagem de status -->
            {% if status %}
                <div class="mensagem_form_enviado">
                    <p>{{ status }}</p>
                </div>
            {% endif %}

            <form id="myForm" action="{{ url_for('enviar_feedback') }}" method="POST">
                <div class="star-rating">
                    <input type="radio" name="avaliacao" id="star5" value="5" required>
                    <label for="star5">&#9733</label>

                    <input type="radio" name="avaliacao" id="star4" value="4" required> 
                    <label for="star4">&#9733</label>

                    <input type="radio" name="avaliacao" id="star3" value="3" required>
                    <label for="star3">&#9733</label>

                    <input type="radio" name="avaliacao" id="star2" value="2" required>
                    <label for="star2">&#9733</label>

                    <input type="radio" name="avaliacao" id="star1" value="1" required>
                    <label for="star1">&#9733</label>
                </div>

                <textarea name="mensagem" id="mensagem" placeholder="Conte como foi usar nosso plataforma e nos ajude a evoluir." required></textarea>
                <button type="submit"> Enviar sua resposta</button>
            </form>
        </div>
        <a href="{{ url_for('home') }}" class="btn">Página Inicial</a>
        <script>
           document.getElementById('myForm').addEventListener('submit', function(e) {
            const form = this;
            const formData = new FormData(form);

            fetch('https://formspree.io/f/mwpogwjj', {
                method: "POST",
                body: formData,
            }).catch(err => {
                console.warn("Possível erro CORS ignorado:", err);
            });

            alert("Feedback enviado para o nosso email! Obrigado pela avaliação.");
            });
        </script>
    </body>
</html>
